@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme */
:root {
    --background: #ffffff;
    --foreground: #171717;
    --background-end: #f5f5f5;
}

/* Dark theme */
[data-theme="dark"] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --background-end: #1a1a1a;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Additional styles for homepage */
.bg-gradient-to-br {
    background-image: linear-gradient(to bottom right, var(--background), var(--background-end));
    position: relative;
    z-index: 1;
    backdrop-filter: blur(4px);
}

/* Animation styles */
canvas {
    opacity: 0.8;
    transition: opacity 0.3s ease;
    mix-blend-mode: screen;
}

[data-theme="dark"] canvas {
    opacity: 0.4;
    mix-blend-mode: screen;
}

.text-headline {
    color: #de725c;
}

.project-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 2rem;
        color: #2c3e50;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .section-heading {
        font-size: 1.5rem;
        color: #272a41;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid #272a41;
        padding-bottom: 0.5rem;
    }

    .role-tech-container {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .role-container, .tech-container {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .role-label, .tech-label {
        font-weight: 600;
        color: #555;
        margin-right: 0.5rem;
    }

    .role-text {
        font-style: italic;
    }

    .tech-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-left: auto;

    }

    .tech-badge {
        background-color: #e0e0e0;
        color: #333;
        padding: 0.3rem 0.6rem;
        border-radius: 4px;
        font-size: 0.875rem;
        white-space: nowrap;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
    }

    .tech-badge:hover {
        background-color: #d0d0d0;
    }

    .project-description {
        margin-bottom: 2rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 1.5rem;
        padding-left: 1.5rem;
        position: relative;

    }

    li::before {
        content: '•';
        color: #272a41;
        position: absolute;
        left: 0;
        font-size: 1.2em;
        top: 0;
    }


    li strong {
        display: block;
        margin-bottom: 0.5rem;
        color: #444;
        font-size: 1.1em;
    }

    li i {
        display: block;
        margin-top: 0.5rem;
        color: #666;
        font-size: 0.9em;
    }

    .challenge-solution {
        display: flex;
        flex-direction: column;
    }

    .challenge-solution strong {
        color: #2c3e50;
    }

    .solution {
        margin-top: 0.5rem;
        padding: 0.5rem;
        border-left: 3px solid #272a41;
        background-color: #f0f8f1;
        font-weight: normal;
    }

    .next-project {
        margin-top: 3rem;
        text-align: center;
    }

    .next-project a {
        color: #272a41;
        text-decoration: none;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border: 2px solid #272a41;
        border-radius: 5px;
        transition: background-color 0.3s ease, color 0.3s ease;

    }

    .next-project a:hover {
        background-color: #272a41;
        color: #fff;
    }

    .image-display-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two equal columns */
        gap: 20px; /* Adjust gap as needed */
    }

    .prototype-gif {
        /*  No specific styles needed here, unless you want to control max-width etc. */
    }


    .static-images-grid {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Two columns for the 4 images */
        grid-template-rows: 1fr 1fr;    /* Two rows for the 4 images */
        gap: 10px; /* Adjust gap as needed */
    }

    .static-images-grid img {
        width: 100%; /* Make images fill their grid cell */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover;  /* Cover the area, cropping if necessary */
        border-radius: 12px;   /*  Rounded corners */
    }

    .prototype-gif img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 12px;
    }

    /* Optional: Responsive adjustments */
    @media (max-width: 768px) {
        .image-display-grid {
            grid-template-columns: 1fr; /* Single column on smaller screens */
        }
        .static-images-grid {
            grid-template-columns: 1fr 1fr; /* Two columns for the 4 images */
            grid-template-rows: 1fr 1fr;    /* Two rows for the 4 images */
            gap: 10px;
        }
    }
}